{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.LastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.Email }}</td>
            </tr>
            <tr>
                <th>Entry_Date</th>
                <td>{{ user.EntryDate ? user.EntryDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.Password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.Role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
